* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

body {
  background: #f2f2f2;
}

.view {
  max-width: 550px;
  margin: 10px auto;
}

.menu .section {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 5px;
}

.menu .section .m_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #fff;
}

.menu .section .m_left > .ml_2 {
  width: 43px;
  height: 43px;
  background-image: url("../images/xc_sprites.png");
  background-size: 104px 328px;
  background-position: 0 -130px;
}

.menu .section .m_right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .section .m_right a {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .section .m_right a:nth-child(-n+2) {
  border-bottom: 1px solid #fff;
}

.menu .section .m_right a:nth-child(even) {
  border-left: 1px solid #fff;
}

.menu .hotel {
  background-color: #ff697a;
}

.menu .ticket {
  background-color: #3d98ff;
}

.menu .travel {
  background-color: #44c522;
}

.menu .others {
  background-color: #fc9720;
}

.menu .others .m_left a {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav a {
  width: 25%;
  height: 60px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 1px solid #ccc;
}

.nav a span {
  background-image: url("../images/icon_sprites.png");
  background-size: 20px 315px;
  background-position: 0 -80px;
  width: 20px;
  height: 20px;
}

.nav a p {
  font-size: 12px;
}

.nav a:nth-child(-n+4) {
  border-bottom: 1px solid #ccc;
}

.nav a:nth-last-child(-n+4) {
  border-top: 1px solid #ccc;
}

.nav a:nth-child(4n) {
  border-right: none;
}

.hot_active {
  margin-top: 10px;
}

.hot_active .ha_title {
  padding: 10px;
  background: #ffffff;
}

.hot_active .ha_title .ac {
  color: #ffa500;
  font-size: 16px;
  font-weight: 600;
}

.hot_active .ha_title .ad {
  background: #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  padding: 1px 7px;
}

.hot_active .ha_title a {
  float: right;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4e64), to(#ff6bc6));
  background-image: linear-gradient(to right, #ff4e64, #ff6bc6);
}

.hot_active .ha_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hot_active .ha_content a {
  width: 50%;
}

.footer {
  margin-top: 10px;
}

.footer .footer1 {
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.footer .footer1 a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer1 a span {
  background-image: url("../images/un_ico_home_v620.png");
  background-size: 104px 328px;
  width: 16px;
  height: 17px;
  background-position: -60px -154px;
}

.footer .footer2 {
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #ccc;
  color: #000;
  padding-top: 5px;
}

.footer .copyright {
  margin-top: 5px;
}
/*# sourceMappingURL=index.css.map */