* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; // 继承父元素的字体颜色
  color: inherit;
}

img {
  width: 100%;
}

body {
  background-color: #f2f2f2;
}

.view {
  margin: 10px auto;
  max-width: 550px;
}

.menu {
  .section {
    display: flex;
    height: 90px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 5px;
    .m_left {
      flex: 1;
      display: flex; // 改变主轴的方向
      flex-direction: column; // 侧轴子项居中
      align-items: center; // 设置主轴的子项排列方式
      justify-content: space-around; // flex-wrap: wrap;
      border-right: 1px solid #fff;
      >.ml_2 {
        background-image: url("../images/xc_sprites.png");
        background-size: 104px 328px;
        background-position: 0 -130px;
        width: 43px;
        height: 43px;
      }
    }
    .m_right {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      >a {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >a:nth-child(-n+2) {
        border-bottom: 1px solid #fff;
      }
      >a:nth-child(odd) {
        border-right: 1px solid #fff;
      }
    }
  }
  .hotel {
    background-color: #ff697a;
  }
  .ticket {
    background-color: #3d98ff;
  }
  .travel {
    background-color: #44c522;
  }
  .others {
    background-color: #fc9720;
    >.m_left {
      >a {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >a:first-child {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  >a {
    width: 25%;
    height: 60px; // border: 1px solid #000;
    // display: flex;
    text-align: center;
    padding: 10px 0; // border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    &:nth-child(4n) {
      border-right: none;
    }
    &:nth-last-child(-n+4) {
      border-bottom: none;
    }
    >span {
      background-image: url("../images/icon_sprites.png");
      background-size: 20px 315px;
      background-position: 0 -80px;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    >p {
      font-size: 12px;
    }
  }
}

.hot_active {
  background-color: #fff;
  padding: 0 10px;
  margin-top: 10px;
  .ha_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    .ht_left {
      color: orange;
      font-weight: 600;
      font-style: italic;
      &:after {
        content: "广告";
        background-color: #ccc;
        color: #fff;
        font-size: 12px;
        padding: 1px 7px;
        border-radius: 5px;
        margin-left: 6px;
      }
    }
    .ht_right {
      color: #fff;
      font-size: 12px;
      background-image: linear-gradient(to right, #ff4e64, #ff6bc6);
      border-radius: 10px;
      padding: 2px 5px;
    }
  }
  .ha_content {
    display: flex;
    flex-wrap: wrap;
    >a{
      width: 50%;
    }
  }
}

.footer{
  margin-top: 10px;
  .footer1{
    background-color: #fff;
    display: flex;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
    >a{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0;
      font-size: 12px;
      >span{
        background-image: url("../images/un_ico_home_v620.png");
        background-size: 104px 328px;
        width: 16px;
        height: 17px;
        background-position: -60px -154px;
      }
    }
  }
  .footer2{
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: #000;
    .copyright{
      margin-top: 5px;
    }
  }
}